@import('_partial/reset.styl')
// CSS reset
global-reset()
reset-html()

@import('_partial/variables.styl')
@import('_partial/markdown.styl')
@import('_partial/highlight.styl')

body 
    font-family Arial, Helvetica, sans-serif,'宋体',tahoma, Srial, helvetica, sans-serif


.container
    // max-width 768px
    margin 0 auto
    padding 0 40px 0 40px
    max-width 848px
    

.header
    background #303538 no-repeat center center
    .container
        height 250px
        padding-top 50px
    .vertical
        vertical-align: middle
    h1 
        color #fff
        font-size 2.3em
        font-weight bold
    pre 
        color #939393
        font-size 14px
        padding 23px 0 0 0
        line-height 21px


.copyright
    color #E5E5E5
    font-size 12px
    a 
        color #E5E5E5
        &:hover 
            color #333


@media print
    .header
        background #303538