@import('reset.styl');
global-reset()
@import('vendor.styl');
@import('markdown.styl');
@import('highlight.styl');

tocwidth = 220px

*
    box-sizing: border-box
body 
    background:#F6F6F6 url(../img/background.png)
body,html
    height:100%

.warpper
    width: 100%
    .page-toc,.markdown-body
        height:100%
    .markdown-body
        margin-left:tocwidth
    .page-toc
        width:200px
        position: fixed
        width:tocwidth
        border-right: 1px solid #bbb
        box-shadow: 0 0 20px #ccc
        background:#fff
        padding: 10px
        overflow-y: auto
        overflow-x: hidden
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
        ul
            list-style-type: none
            margin: 0
            a 
                display: block
                padding: 3px 0
                color: #151515
                text-decoration: none
                font-weight:bold
                line-height: 16px
                font-size: 14px
                &:hover
                    color:red
                    text-decoration: underline
            li 
                padding-left:3px
                text-align:left
            ul
                margin:0 0 0 10px
                list-style-type: square
                padding: 0 0 0 9px
                li 
                    a 
                        font-size:90%
                        font-weight:normal
                        border-bottom:0
    .copyright
        border-top: 1px dashed #E9E9E9
        padding: 6px 0 5px 2px
        margin: 32px 0 0 0
        line-height: 16px
        font-size: 12px
        color: #dfdfdf
        a 
            color: #D6DDF8
            text-decoration: underline
            &:hover
                color:#333