
<header class="header">
    <div class="container">
        <div class="vertical">
        <% if(pkg.idoc && pkg.idoc.name ){ %>
            <h1><%=pkg.idoc.name%></h1>
        <% } %>
        <% if(pkg.idoc && pkg.idoc.baseinfo ){ %>
            <pre><%=pkg.idoc.baseinfo%></pre>
        <% } %>
        </div>
    </div>
</header>