<% include head.ejs %>

<div class="container">
    
    <div class="content markdown-body">
        <%- markdown_html %>
        <div class="copyright">Powered by <a href="https://github.com/jaywcjlove/idoc" target="_blank">idoc</a>. Dependence <a href="https://nodejs.org">Node.js</a> run.</div>
    </div>

</div>

<% include footer.ejs %>