
</body>
<script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script>
    $('.page-toc li').eq(0).children('a').addClass('red');
    var arr = [];
    $("h2,h3").each(function () {
        $(this).attr('t',$(this).position().top);
        arr.push($(this).position().top);
    });
    $(window).on('scroll', function () {
        var cur = $(document).scrollTop();
        for(var i = arr.length; i >=0;i--){
            if(arr[i]<=cur){
                break;
            }
        }
        if(i===-1){
            i = 0;
        }
        $('.page-toc li a').removeClass('red');
        $('.page-toc li').eq(i).children('a').addClass('red')
    });
</script>
</html>
