<% include head.ejs %>

<div class="warpper">

    <div class="page-toc">
        <%- toc %>
    </div>
    
        <div class="content markdown-body">
        {{content}}
        </div>
    
</div>

<% include footer.ejs %>