<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模版 iDoc </title>
  
  <meta name="description" content="模板决定了网站内容的呈现方式，主题使用的 EJS 模版引擎。">
  
  
  <meta name="keywords" content="idoc,config,api">
  
  <link rel="stylesheet" type="text/css" href="../../css/main.css?v=1650814441858">
  
  <link rel="stylesheet" type="text/css" href="../../css/tocbot.css?v=1650814441858">
  
  <link rel="stylesheet" type="text/css" href="../../css/media.css?v=1650814441858">
  <link rel="stylesheet" type="text/css" href="../../css/sidebar.css?v=1650814441858">
  <link rel="stylesheet" type="text/css" href="../../css/copy.css?v=1650814441858">
  
    <link rel="icon" href="../../logo.png" type="image/x-icon">
  
  <script src="../../js/copy.js"></script>
  <script src="../../js/dark-mode.js"></script>
  <script src="../../js/markdown-style.js"></script>
</head>
<body id="idoctotop">
  <a href="#idoctotop" class="gototop">top</a>
<header class="header">
  <article class="inner warpper">
    <a class="logo" href="../../index.html">
      
        <img alt="iDoc logo" src="../../logo.png">
      
      <span class="title">iDoc</span>
    </a>
    <div class="content">
      <ul class="menu">
        
        <li>
          <a href="../../index.html" target="" class=""> Home </a>
        </li>
        
        <li>
          <a href="../getting-started/installation.html" target="" class="active"> Docs </a>
        </li>
        
        <li>
          <a href="../../markdown/basic-syntax.html" target="" class=""> Markdown </a>
        </li>
        
        <li>
          <a href="../../about.html" target="" class=""> About </a>
        </li>
        
      </ul>
      
        <a href="https://github.com/jaywcjlove/idoc" target="_blank" rel="noopener noreferrer" title="Github" name="Github" class="github">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
        </a>
      
      <dark-mode permanent></dark-mode>
    </div>
  </article>
</header>

<div class="warpper-content warpper sidebar ">
  
<div class="sidebar-border">
  <aside class="sidebar" role="navigation">
    <div>
    
      
        <a href="../index.html" class="">自述</a>
      
    
      
        <label>入门</label>
      
    
      
        <a href="../getting-started/installation.html" class="">安装</a>
      
    
      
        <a href="../getting-started/site-preparation.html" class="">网站准备</a>
      
    
      
        <a href="../getting-started/site-creation.html" class="">创建网站</a>
      
    
      
        <a href="../getting-started/site-add.html" class="">添加文档</a>
      
    
      
        <a href="../getting-started/home.html" class="">网站首页</a>
      
    
      
        <a href="../getting-started/publish.html" class="">发布网站</a>
      
    
      
        <label>API</label>
      
    
      
        <a href="../api/command.html" class="">命令帮助</a>
      
    
      
        <a href="../api/config.html" class="">配置文件</a>
      
    
      
        <label>主题</label>
      
    
      
        <a href="theme-defalut.html" class="">定制主题</a>
      
    
      
        <a href="templates.html" class="active">模板使用教程</a>
      
    
      
        <a href="variables.html" class="">模板变量</a>
      
    
    </div>
  </aside>
</div>

  <markdown-style>
    <h1 id="模版"><a aria-hidden="true" tabindex="-1" href="#模版" class="anchor"><span class="icon icon-link"></span></a>模版</h1>
<p>模板决定了网站内容的呈现方式，主题使用的 <a href="https://github.com/mde/ejs">EJS</a> 模版引擎。</p>
<h2 id="文章模板"><a aria-hidden="true" tabindex="-1" href="#文章模板" class="anchor"><span class="icon icon-link"></span></a>文章模板</h2>
<p>文件 <code>markdown.ejs</code> 是默认文章编译使用的模板。可以在 markdown 配置中配置自定义模板。应用场景，如自定义首页，默认 <code>项目根目录</code> 或者 <code>指定文档目录</code> 根目录下的 <code>README.md</code> 视为首页，在里面配置模板，配置如下：</p>
<pre class="language-markdown" style="background-color: #c0d2f342"><code class="language-markdown code-highlight"><span class="code-line"><span class="token comment">&#x3C;!--idoc:config:
</span></span><span class="code-line"><span class="token comment">layout: home.ejs
</span></span><span class="code-line"><span class="token comment">--></span>
</span></code><div onclick="copied(this)" data-code="<!--idoc:config:
layout: home.ejs
-->
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<!--rehype:style=background-color: #c0d2f342-->
<p>自定义模板文件 <code>home.ejs</code> 需要放到自定义主题目录下。</p>
<pre class="language-bash"><code class="language-bash code-highlight"><span class="code-line">├── docs
</span><span class="code-line">├── idoc.yml
</span><span class="code-line">├── package.json
</span><span class="code-line">└── themes               <span class="token comment"># 👈 🎁 主题文件夹</span>
</span><span class="code-line">    └── default
</span><span class="code-line">        ├── css
</span><span class="code-line">        ├── js
</span><span class="code-line">        ├── markdown.ejs <span class="token comment"># 👈 默认模板</span>
</span><span class="code-line">        ├── home.ejs     <span class="token comment"># 👈 自定义模板</span>
</span><span class="code-line">        └── partial
</span></code><div onclick="copied(this)" data-code="├── docs
├── idoc.yml
├── package.json
└── themes               # 👈 🎁 主题文件夹
    └── default
        ├── css
        ├── js
        ├── markdown.ejs # 👈 默认模板
        ├── home.ejs     # 👈 自定义模板
        └── partial
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<blockquote>
<p>🚧  注意：默认主题文件夹是不存在，如果您需要暴露默认模板，可以在初始化项目 <code>idoc init myapp</code> 的时候选择暴露模板</p>
</blockquote>
<h2 id="局部模版partial"><a aria-hidden="true" tabindex="-1" href="#局部模版partial" class="anchor"><span class="icon icon-link"></span></a>局部模版（Partial）</h2>
<p>局部模板让您在不同模板之间共享相同的组件，例如页首（Header）、页脚（Footer）或侧边栏（Sidebar）等，可利用局部模板功能分割为个别文件，让维护更加便利。举例来说：</p>
<p><code>partial/header.ejs</code></p>
<pre class="language-html"><code class="language-html code-highlight"><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>h1</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>logo<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>&#x3C;%= title %><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>h1</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<h1 id=&#x22;logo&#x22;><%= title %></h1>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<p><code>home.ejs</code></p>
<pre class="language-html"><code class="language-html code-highlight"><span class="code-line">&#x3C;%- partial('partial/header') %>
</span><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>div</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>content<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Home page<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>div</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<%- partial(&#x27;partial/header&#x27;) %>
<div id=&#x22;content&#x22;>Home page</div>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<p>生成：</p>
<pre class="language-html" style="background: #41ae622b;"><code class="language-html code-highlight"><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>h1</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>logo<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>My Site<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>h1</span><span class="token punctuation">></span></span>
</span><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>div</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>content<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Home page<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>div</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<h1 id=&#x22;logo&#x22;>My Site</h1>
<div id=&#x22;content&#x22;>Home page</div>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<!--rehype:style=background: #41ae622b;-->
<h2 id="局部变量使用"><a aria-hidden="true" tabindex="-1" href="#局部变量使用" class="anchor"><span class="icon icon-link"></span></a>局部变量使用</h2>
<p>您可以在局部模板中指定局部变量并使用。</p>
<p><code>partial/header.ejs</code></p>
<pre class="language-html"><code class="language-html code-highlight"><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>h1</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>logo<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>&#x3C;%= title_partial %><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>h1</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<h1 id=&#x22;logo&#x22;><%= title_partial %></h1>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<p><code>home.ejs</code></p>
<pre class="language-html"><code class="language-html code-highlight"><span class="code-line">&#x3C;%- partial('partial/header', { title_partial: 'Hello World' }) %>
</span><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>div</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>content<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Home page<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>div</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<%- partial(&#x27;partial/header&#x27;, { title_partial: &#x27;Hello World&#x27; }) %>
<div id=&#x22;content&#x22;>Home page</div>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<p>生成：</p>
<pre class="language-html" style="background: #41ae622b;"><code class="language-html code-highlight"><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>h1</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>logo<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Hello World<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>h1</span><span class="token punctuation">></span></span>
</span><span class="code-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;</span>div</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>content<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Home page<span class="token tag"><span class="token tag"><span class="token punctuation">&#x3C;/</span>div</span><span class="token punctuation">></span></span>
</span></code><div onclick="copied(this)" data-code="<h1 id=&#x22;logo&#x22;>Hello World</h1>
<div id=&#x22;content&#x22;>Home page</div>
" class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
<!--rehype:style=background: #41ae622b;-->
<p>更多使用方式请查看 <a href="https://github.com/mde/ejs">EJS</a> 模版引擎文档</p>
    

<div class="previous">
  
  <a class="prev" href="theme-defalut.html">
    <svg viewBox="0 0 1024 1024" width="16" height="16" fill="currentColor">
      <path d="M842.666667 864c-8.533333 0-14.933333-2.133333-21.333334-8.533333l-341.333333-309.333334c-6.4-6.4-10.666667-14.933333-10.666667-23.466666 0-8.533333 4.266667-17.066667 10.666667-23.466667l341.333333-309.333333c12.8-12.8 34.133333-10.666667 44.8 2.133333 12.8 12.8 10.666667 34.133333-2.133333 44.8L548.266667 522.666667l315.733333 285.866666c12.8 10.666667 14.933333 32 2.133333 44.8-6.4 6.4-14.933333 10.666667-23.466666 10.666667z"></path>
      <path d="M512 864c-8.533333 0-14.933333-2.133333-21.333333-8.533333L149.333333 546.133333c-6.4-6.4-10.666667-14.933333-10.666666-23.466666 0-8.533333 4.266667-17.066667 10.666666-23.466667L490.666667 189.866667c12.8-12.8 34.133333-10.666667 44.8 2.133333 12.8 12.8 10.666667 34.133333-2.133334 44.8L217.6 522.666667 533.333333 808.533333c12.8 12.8 14.933333 32 2.133334 44.8-6.4 6.4-14.933333 10.666667-23.466667 10.666667z"></path>
    </svg>
    <span>
      定制主题
    </span>
  </a>
  
  
  <a class="next" href="variables.html">
    <span>
      模板变量
    </span>
    <svg viewBox="0 0 1024 1024" width="16" height="16" fill="currentColor">
      <path d="M544 522.666667c0-8.533333-4.266667-17.066667-10.666667-23.466667L192 189.866667c-12.8-12.8-34.133333-10.666667-44.8 2.133333-12.8 12.8-10.666667 34.133333 2.133333 44.8l315.733334 285.866667L149.333333 808.533333c-12.8 12.8-14.933333 32-2.133333 44.8 6.4 6.4 14.933333 10.666667 23.466667 10.666667 8.533333 0 14.933333-2.133333 21.333333-8.533333l341.333333-309.333334c6.4-6.4 10.666667-14.933333 10.666667-23.466666z"></path>
      <path d="M864 499.2l-341.333333-309.333333c-12.8-12.8-34.133333-10.666667-44.8 2.133333-12.8 12.8-10.666667 34.133333 2.133333 44.8l315.733333 285.866667-315.733333 285.866666c-12.8 12.8-14.933333 32-2.133333 44.8 6.4 6.4 14.933333 10.666667 23.466666 10.666667 8.533333 0 14.933333-2.133333 21.333334-8.533333l341.333333-309.333334c6.4-6.4 10.666667-14.933333 10.666667-23.466666 0-8.533333-4.266667-17.066667-10.666667-23.466667z"></path>
    </svg>
  </a>
  
</div>



<section class="article-footer">
  <a href="https://github.com/jaywcjlove/idoc/blob/master/docs/introduce/theme/templates.md" class="edit-button" target="_blank" rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
    </svg>
    <span>Edit this page on GitHub</span>
  </a>
  
  <span class="atime">2022/04/24</span>
  
</section>

  </markdown-style>
  
<nav class="tocs">
  <aside class="inner toc">
    <ol class="tocs-list">
    
      <li>
        <a href="#文章模板" class="tocs-link">文章模板</a>
        
      </li>
    
      <li>
        <a href="#局部模版partial" class="tocs-link">局部模版（Partial）</a>
        
      </li>
    
      <li>
        <a href="#局部变量使用" class="tocs-link">局部变量使用</a>
        
      </li>
    
    </ol>
  </aside>
</nav>


<script src="../../js/tocbot.js?v=1.0.0"></script>

</div>


<div class="footer warpper">
  Released under the MIT License. Copyright © 2022 Kenny Wong<br />
Generated by <a href="https://github.com/jaywcjlove/idoc" target="_blank">idoc</a> v1.13.10

</div>

</body>
</html>